{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
<meta charset="utf-8" />

<meta id="Viewport" name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Meta Description -->
<meta name="description" content="{{ .Description }}"> 

<!-- Meta Keywords -->
<meta name="keywords" content='{{ delimit .Keywords ", " }}' /> 

<!-- Opengraph -->
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

{{ template "_internal/opengraph.html" . }}

<!-- Twitter -->
<meta name="twitter:site" content="{{ .Site.Params.sitename }}">
{{ template "_internal/twitter_cards.html" . }}
